main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  display: flex;
  flex-direction: column;

  width: 350px;
  height: 450px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(77, 52, 100);
}
.calculator-screen {
  height: 80px;
  width: 90%;
  border: none;
  background-color: #fcf9f9;
  color: rgb(29, 5, 5);
  font-size: 2rem;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 60px 60px 60px 60px;
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.button {
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #e0e1e6;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.button:active {
  box-shadow: none;
  transform: translateY(2px);
}
button:hover {
  background-color: #d4d4d4;
}
.btn-0 {
  grid-column: 2;
  grid-row: 5;
}
.btn-1 {
  grid-column: 1;
  grid-row: 4;
}
.btn-2 {
  grid-column: 2;
  grid-row: 4;
}
.btn-3 {
  grid-column: 3;
  grid-row: 4;
}
.btn-4 {
  grid-column: 1;
  grid-row: 3;
}
.btn-5 {
  grid-column: 2;
  grid-row: 3;
}
.btn-6 {
  grid-column: 3;
  grid-row: 3;
}
.btn-7 {
  grid-column: 1;
  grid-row: 2;
}
.btn-8 {
  grid-column: 2;
  grid-row: 2;
}
.btn-9 {
  grid-column: 3;
  grid-row: 2;
}
.button--equal {
  grid-column: 4/5;
  grid-row: 4/6;
  background-color: #4caf50;
  color: white;
}
.btn-plus {
  grid-column: 4;
  grid-row: 3;
}
.btn-minus {
  grid-column: 4;
  grid-row: 2;
}
.btn-multiply {
  grid-column: 4;
  grid-row: 1;
}
.btn-divide {
  grid-column: 3;
  grid-row: 1;
}
.btn-decimal {
  grid-column: 3;
  grid-row: 5;
}
.button--alt {
  grid-column: 1;
  grid-row: 1;
  background-color: #f44336;
  color: white;
}
.button--delete {
  grid-column: 2;
  grid-row: 1;
}
.button-percent {
  grid-column: 1;
  grid-row: 5;
}
